:root {
  --text-main-color: #212121;
  --text-white: #ffffff;
  --text-blue: #2196f3;
  --text-grey: #757575;
  --first-section-bg: #2f303a;
  --fourth-section-bg: #f5f4fa;
  --footer-link: #ffffff99;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-main-color);
}
.header-secondary {
  color: var(--text-grey);
  text-decoration: none;
  list-style: none;
  margin-left: auto;
  column-gap: 50px;
  text-align: left;
  letter-spacing: 0.03em;
  padding: 20px 20px;
}
.filter-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-style: normal;
  margin-left: auto;
  display: flex;
}
.header-secondary-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  list-style: none;
  padding: 30px 0px;
}
.head-they {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  /* or 136% */
  color: var(--text-white);
  background: #2f303a;
  cursor: pointer;
  justify-content: center;
  display: flex;
  padding: 30px 0px;
}
.adres {
  color: var(--text-grey);
  text-decoration: none;
  font-style: normal;
}
.loggo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
  color: inherit;
  margin-right: 94px;
}
.logo {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: inherit;
  list-style: none;
  display: block;
}
.color {
  color: var(--text-white);
}
.street {
  color: var(--text-white);
}
.cursor {
  cursor: pointer;
}
.schedule {
  color: var(--text-blue);
}
.social-links {
  color: var(--text-blue);
}
.text {
  color: var(--text-blue);
}
.title {
  color: var(--text-white);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26;
  line-height: 1.1;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
}
.hover:hover {
  color: var(--text-blue);
}
.title-secondary-section {
  background: #2f303a;
}
.ulice {
  font-style: normal;
  color: var(--text-white);
  font-style: normal;
  list-style: none;
}
.flex-nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.site-nav {
  border-bottom: 1px solid #ececec;
  padding: 32px 0px;
}
.flex-inner-nav {
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
  padding: 0%;
  margin-left: auto;
  column-gap: 50px;
}
.flex-loren h3 li {
  display: flex;
  list-style: none;
  padding: 10%;
  margin: 30px;
  align-items: center;
  background-origin: padding-box;
  border: 30px;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.boxx {
  display: flex;
  width: 120;
  margin: 0%;
  outline: auto;
  padding: 0;
}
.headdeerr {
  max-width: 1600px;
  margin: 0%;
  outline: auto;
  max-height: 600px;
}
.flex-3 {
  display: flex;
  gap: 30px;
  list-style: none;
}
.child {
  background: #2f303a;
  padding: 200px 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  margin-left: auto;
}
h2 h3 h4 p {
  padding: 0;
  margin: 0;
}
.section {
  padding: 94px 0;
}
.first-section {
  padding: 200px 0px;
  background: var(--first-section-bg);
  width: 1600px;
  margin: 0 auto;
}
.section-first-title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white);
  text-align: center;
  margin-bottom: 30px;
}
.cta-button {
  padding: 10px 40px;
  margin: 0 auto;
  display: block;
  background: var(--text-blue);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.ctea-button {
  padding: 8px 10px;
  margin: 0 auto;
  display: block;
  background: var(--text-blue);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 66px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.photo-one {
  padding: 20px 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;
  text-align: left;
  padding-left: 20px;
}
.flex-4 {
  display: flex;
  column-gap: 30px;
  row-gap: 94px;
  gap: 30px;
  list-style: none;
}
.section-two-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.section-two-title {
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-two-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}
.third-section {
  padding-top: 0px;
}
.other-sections-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.third-secrion-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 30px;
}
.fourth-section {
  background-color: var(--fourth-section-bg);
}
.fourth-section-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 30px;
}
.fourth-section-grid li {
  background-color: var(--text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.person-card-title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}
.person-card-desc {
  font-size: 16px;
  line-height: 1.18px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-grey);
  margin-bottom: 30px;
}
.site-footer {
  padding: 60px 0;
  background: var(--first-section-bg);
}
.footer-container {
  padding: 0 15px;
}
.footer-logo {
  margin-bottom: 20px;
  display: block;
}
.address-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
}
.contact-link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--footer-link);
  text-decoration: none;
}
.middle {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  vertical-align: middle;
  gap: 30px;
  list-style: none;
}
.middle li {
  background-color: var(--text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 0px 0px;
}
.git {
  background: #2196f3;
  text-decoration-color: #ffffff;
}
.hit {
  border-left: #757575;
  border-right: #757575;
  text-align: left;
  vertical-align: bottom;
  border-bottom: #757575;
}
.middle img {
  vertical-align: bottom;
}
.links-lorem {
  display: flex;
  list-style: none;
  padding: 0%;
  margin-left: auto;
  column-gap: 50px;
  padding: 60px 0px;
}
